* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: 0.5s ease-in-out;
}

body {
  background: url('../images/back.png');
  background-size: cover;
  background-attachment: fixed;
  color: white;
}

.body-cont {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-top: 20vh
}

.left-sec {
  width: 500px;
  padding: 20px;
  max-width: 90%;
  background: rgba(1, 69, 109, 0.363);
  font-size: 22px;
  text-align: center;
}


.result {
  margin: 30px 0;
  width: 100%;
  min-height: 20px;
}
#output{
  background: orange;
  padding: 20px 0;
}
.red{
  background: red;
}

#imgBox img {
  width: 100px;
  height: 100%;
  
}

.form-cont {
  /* background: green; */
  max-width: 90%;
}

form {
  width: 500px;
  max-width: 100%;
  background: rgba(255, 255, 255, 0.288);

  padding: 25px 20px;

}

form label {
  width: 100%;
  font-size: 20px;
}

form input[type=number] {
  background: rgba(255, 255, 255, 0.678);
  width: 100%;
  border: none;
  padding: 10px;
  margin:  5px 0 30px 0;
  outline: none;
}
form input[type=number]:hover{
  border-radius: 20px;
}
form input[type=number]:focus{
  background: white;
  border-radius: 20px;
}
::placeholder{
  color: brown;
}

.buttons {
  text-align: center;
  
}

.buttons input,
button {
  border: none;
  padding: 10px;
  width: 48%;
  cursor: pointer;
  font-size: 20px;
  color: white;
  transition: 0.2s ease-in-out;
}

.buttons input {
  background: rgba(255, 153, 0, 0.6);
}
.buttons input:hover{
  background: rgba(255, 153, 0);
  border-radius: 20px;
}

button {
  background: rgba(255, 0, 0, 0.6);
  
}
button:hover{
  background: red;
  border-radius: 20px;
}
